* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

nav {
  width: 90%;
  margin: auto;
  padding: 24px 0px;
}
nav .navbar-nav {
  position: relative;
  transition: 0.3s;
}
nav .d-flex .form-control {
  display: none;
  position: absolute;
  width: 12%;
  right: -300px;
  transition: transform 0.4s;
}
nav .d-flex .show-input {
  display: block;
  transform: translateX(-250px);
}
nav .d-flex .show-input-collapse {
  display: block;
  left: 100px;
  width: 150px;
}
nav .d-flex .search {
  transition: 0.3s;
}
nav .nav-link {
  margin-right: 48px;
}

.move-links {
  transform: translateX(-100px);
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

header {
  background-color: #DCC1AB;
  position: relative;
}
header .splide__slide {
  max-width: 100%;
}
header .navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
header .navigation .radio {
  width: 60px;
  height: 10px;
  border: 2px solid #1B5B31;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}
header .navigation .radio:hover {
  background-color: #1B5B31;
}
header .navigation .radio.activeBtn {
  background-color: #1B5B31;
}
header .header-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 44px;
}
header .header-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 72px;
  width: 80%;
}
header .header-btn button {
  border-radius: 200px;
  padding: 12px 24px 14px 24px;
  border: none;
  transition: 0.3s;
}
header .header-btn #contact {
  background-color: #1B5B31;
  color: #F5F0EC;
  margin-right: 36px;
  border: 1px solid #1B5B31;
}
header .header-btn #contact:hover {
  box-shadow: 0px 0px 10px 1px #1B5B31;
  transform: scale(1.01);
}
header .header-btn #production {
  background-color: transparent;
  border: 1px solid #1B5B31;
  color: #1B5B31;
}
header .header-btn #production img {
  margin-left: 8px;
}
header .header-btn #production:hover {
  box-shadow: 0px 0px 10px 1px #1B5B31;
  transform: scale(1.01);
}

.section-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 400;
}
.section-heading span {
  font-style: italic;
}

h4 {
  font-size: 12px;
  margin-bottom: 16px;
}

.offer {
  background-color: #F5F0EC;
}
.offer h4 {
  color: #1B5B31;
}
.offer .offer-content {
  padding: 120px 0px 160px 0px;
}
.offer .offer-content .offer-text p {
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
  margin: 32px 0px 96px 0px;
}
.offer .cards .card {
  display: flex;
  height: 370px;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 28px;
  background-color: white;
  margin-bottom: 20px;
  font-size: 14px;
  transition: 0.3s;
  border: none;
}
.offer .cards .card h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 12px;
}
.offer .cards .card button {
  background: transparent;
  border: none;
  border-bottom: 1px solid #1B5B31;
  color: #1B5B31;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}
.offer .cards .card button img {
  margin-left: 10px;
  transition: 0.3s;
}
.offer .cards .card button:hover {
  border-bottom: 1px solid #54a971;
  transform: translateX(10px);
}
.offer .cards .card button:hover img {
  margin-left: 20px;
}
.offer .cards .card:hover {
  scale: 1.02;
}

.about {
  background-color: #1B5B31;
  color: #F5F0EC;
}
.about .about-content p {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
}
.about .about-content .about-btn {
  border-radius: 200px;
  padding: 12px 24px 14px 24px;
  border: none;
  transition: 0.3s;
  background-color: transparent;
  border: 1px solid #F5F0EC;
  color: #F5F0EC;
  transition: 0.3s;
}
.about .about-content .about-btn img {
  margin-left: 8px;
  transition: 0.3s;
}
.about .about-content .about-btn:hover {
  box-shadow: 0px 0px 10px 1px #F5F0EC;
}
.about .about-content .about-btn:hover img {
  margin-left: 16px;
}

.projects {
  padding-top: 120px;
  background-color: #DCC1AB;
}
.projects .projects-text {
  padding-left: 160px;
  padding-bottom: 96px;
}
.projects .gallery {
  position: relative;
}
.projects .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
}
.projects .popup-image .fa-x {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}
.projects .popup-image .fa-arrow-right {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20%;
  font-size: 24px;
  cursor: pointer;
}
.projects .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #DCC1AB;
  width: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
}
.gallery-shadow .scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 60px;
  padding: 12px 22px 14px 22px;
  border-radius: 200px;
  padding: 12px 24px 14px 24px;
  border: none;
  transition: 0.3s;
  background-color: transparent;
  border: 1px solid black;
  transition: 0.3s;
}
.gallery-shadow .scroll img {
  margin-left: 10px;
  transition: 0.3s;
}
.gallery-shadow .scroll:hover {
  box-shadow: 0px 0px 10px 1px black;
}
.gallery-shadow .scroll:hover img {
  margin-top: 10px;
}

.grid-item img {
  transition: transform 0.3s;
  margin-bottom: 42px;
}

.grid-item img:hover {
  transform: scale(1.05);
}

.instagram {
  background-color: white;
  padding: 60px 0px;
}
.instagram .instagram-heading {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.instagram .instagram-heading span {
  font-style: italic;
}
.instagram .instagram-block {
  background-color: #1B5B31;
  padding: 120px 110px;
  color: #F5F0EC;
}
.instagram .instagram-block .instagram-btn {
  margin-top: 24px;
  border-radius: 200px;
  padding: 12px 24px 14px 24px;
  border: none;
  transition: 0.3s;
  background-color: #F5F0EC;
  color: #1B5B31;
  padding: 10px 24px 12px 24px;
  border: 1px solid #1B5B31;
  transition: 0.3s;
}
.instagram .instagram-block .instagram-btn:hover {
  border: 1px solid #F5F0EC;
  background-color: #1B5B31;
  color: #F5F0EC;
}

footer {
  background-color: black;
  color: #F5F0EC;
  z-index: 0;
}
footer .container {
  padding: 80px 200px;
}
footer .line {
  background-color: #F5F0EC;
  width: 100%;
  height: 2px;
}
footer .contactBtn {
  border-radius: 200px;
  padding: 12px 24px 14px 24px;
  border: none;
  transition: 0.3s;
  background-color: #1B5B31;
  color: #F5F0EC;
  transition: 0.3s;
}
footer .contactBtn:hover {
  background-color: #F5F0EC;
  color: #1B5B31;
}
footer .link {
  text-decoration: none;
  color: #F5F0EC;
}

@media screen and (max-width: 1250px) {
  header .header-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
    line-height: 50px;
  }
  header .header-text p {
    margin-bottom: 50px;
  }
  header .header-btn button {
    font-size: 12px;
    padding: 10px 15px;
  }
}
@media screen and (max-width: 992px) {
  header .header-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 50px;
  }
  header .header-text p {
    width: 100%;
    margin-bottom: 40px;
  }
  header .header-btn {
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    margin: 0;
  }
  header .header-btn #contact {
    margin-right: 5px;
  }
  header .header-btn button {
    font-size: 10px;
  }
  header .header-btn button img {
    width: 10px;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 500px;
    text-align: center;
  }
  header .header-text {
    margin-top: 50px;
  }
  header .header-text h1 {
    font-size: 34px;
  }
  header .header-text p {
    font-size: 12px;
  }
  header .header-btn button {
    font-size: 10px;
    padding: 5px 7px;
  }
  header .header-btn button img {
    width: 10px;
  }
  .section-heading {
    font-size: 32px;
  }
  .about {
    background-color: #1B5B31;
    color: #F5F0EC;
  }
  .about .about-content p {
    font-size: 12px;
  }
  .about .about-content .about-btn {
    border-radius: 200px;
    padding: 12px 24px 14px 24px;
    border: none;
    transition: 0.3s;
    background-color: transparent;
    border: 1px solid #F5F0EC;
    color: #F5F0EC;
    transition: 0.3s;
    padding: 5px 10px;
    font-size: 12px;
  }
  .about .about-content .about-btn img {
    margin-left: 8px;
    transition: 0.3s;
  }
  .projects {
    padding-top: 60px;
    background-color: #DCC1AB;
  }
  .projects .projects-text {
    padding-left: 60px;
    padding-bottom: 60px;
  }
  .instagram .instagram-block {
    padding: 50px 40px;
  }
  .instagram .instagram-heading {
    font-size: 24px;
  }
  footer .contactBtn {
    padding: 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 451px) {
  header {
    height: 500px;
    text-align: center;
  }
  header .header-text {
    margin-top: 50px;
  }
  header .header-text h1 {
    font-size: 36px;
  }
  .projects {
    padding-top: 15px;
    background-color: #DCC1AB;
  }
  .projects .projects-text {
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .offer {
    text-align: center;
  }
  .offer .offer-content {
    padding: 50px 0px 60px 0px;
  }
  .section-heading {
    font-size: 32px;
  }
  .projects {
    padding-top: 50px;
    background-color: #DCC1AB;
  }
  .projects .projects-text {
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .grid-item img {
    width: 350px;
  }
  .projects .gallery .popup-image img {
    width: 90%;
  }
  .instagram .instagram-block {
    text-align: center;
    flex-direction: column;
    padding: 50px 40px;
  }
  .instagram .instagram-block .instagram-heading {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .instagram .instagram-block .instagram-btn {
    margin-top: 24px;
    border-radius: 200px;
    padding: 12px 24px 14px 24px;
    border: none;
    transition: 0.3s;
    background-color: white;
    color: #1B5B31;
    padding: 10px 24px 12px 24px;
  }
  footer p,
  footer a,
  footer address {
    font-size: 12px;
  }
  footer .contactBtn {
    padding: 5px 15px;
    font-size: 10px;
  }
}
@media screen and (max-width: 350px) {
  .grid-item img {
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */